<% if (post.prev || post.next){ %>
<nav id="article-nav">
  
    <div id="article-nav-older" class="article-nav-link-wrap">
      <% if (post.next){ %>
      <strong class="article-nav-caption">前一篇文章</strong></br>
      <a href="<%- url_for(post.next.path) %>" class="article-nav-title"><%= post.next.title %></a>
      <% } %>
    </div>
  
  
    <div id="article-nav-newer" class="article-nav-link-wrap">
      <% if (post.prev){ %>
      <strong class="article-nav-caption">下一篇文章</strong></br>
      <a href="<%- url_for(post.prev.path) %>" class="article-nav-title">
        <% if (post.prev.title){ %>
          <%= post.prev.title %>
        <% } else { %>
          (no title)
        <% } %>
      </a>
      <% } %>
    </div>
  
</nav>
<% } %>