.article
  margin: 0 -20px 
  &.index-list
    margin: 20px 0
    @media mq-normal
      margin: block-margin 0
  @media mq-normal
    margin: block-margin 0

.article-excerpt 
  justify-content: space-between
  align-items: center
  padding: 18px 16px 24px
  @media mq-normal
    display: flex
    padding: 18px article-padding 40px
  .excerpt
    color: color-default
    line-height: line-height
    letter-spacing: 0.5px

.article-inner
  @extend $block
  @extend $base-shadow
  overflow: hidden

.article-meta
  clearfix()

.article-date
  margin: 8px 0 0 0
  font-size 14px
  line-height 18px
  letter-spacing: 0.5px
  color: #999
  @media mq-normal
    text-align: right
    margin: 0
  

.post-cate
  display: flex
  align-items: center

.article-tag-list
  display: flex
  flex-wrap: wrap

.article-tag-list-item
  margin-right: 10px

.article-tag-list-link
  display block
  color: #6B8793
  padding 4px 8px
  margin 4px 0
  border-radius: 6px
  font-size 14px
  line-height 18px
  text-decoration: none
  background-color #E8EFF2
  transition: 0.2s
  cursor pointer
  &:before
    content:"#"
  &:hover 
    background: #42b983
    color: #fff

.article-category
  font-size 14px
  line-height 18px
  color: #999

.article-category-link
  color: #999
  margin-left: 0px
  :not(:last-child)
    margin-right: 8px

.article-header
  margin: 24px 16px 0
  padding-bottom: 18px
  border-bottom: 1px solid #ddd
  @media mq-normal
    margin: article-padding article-padding 0

.article-header-wrap
  @media mq-normal
    display flex
    justify-content space-between
    align-items center
  > div 
    flex-shrink: 0
    margin-left: 8px
  

.article-title
  text-decoration: none
  font-size: 28px
  font-weight: bold
  color: #35495E
  line-height: line-height-title
  transition: color 0.2s
  @media mq-normal
    font-size: 2em
  a&:hover
    color: #42b983

.article-entry
  @extend $base-style
  clearfix()
  color: color-default
  padding: 0px 16px article-padding
  @media mq-normal
    padding: 0px article-padding article-padding
  p, table
    line-height: 26px
    margin: 16px 0 0 0
    letter-spacing: 0.6px
  h1, h2, h3, h4, h5, h6
    color: #333
    font-weight: bold
  h1, h2, h3, h4, h5, h6
    line-height: line-height-title
    margin: 16px 0 12px 0
  a
    color: color-link
    text-decoration: none
    &:hover
      text-decoration: underline
  ul, ol, dl
    margin-top: 4px
    margin-bottom: 4px
  img, video
    display: block
    width 100%
    height: auto
    margin-top: 16px 
    border-radius: 4px
  iframe
    border: none
  table
    table-layout:fixed
    width: 100%
    border-collapse: collapse
    border-spacing: 0
    background #f9f9f9
  tr:last-child td
    border-bottom: none
  th,td 
    &[align="right"]  
      text-align right
    &[align="left"]  
      text-align left
    &[align="center"]  
      text-align center
  th
    font-weight: bold
    border-right: 1px solid color-border
    border-bottom: 1px solid color-border
    padding: 10px 0
    background #6b8793
    color: white
  td
    border-right: 1px solid color-border
    border-bottom: 1px solid color-border
    padding: 10px 0
    background rgba(119,152,191,0.15)
  blockquote
    font-family: font-serif
    font-size: 16px 
    background rgba(119, 152, 191, 0.1)
    margin: 8px 0 0
    padding 15px
    border-left: 6px solid rgb(119, 152, 191)
    h1,h2,h3,h4,h5,h6
      margin-top: 0 
    p
      line-height: 28px
      &:first-of-type
        margin: 0
    footer
      font-size: font-size
      margin: line-height 0
      font-family: font-sans
      cite
        &:before
          content: "—"
          padding: 0 0.5em
  .pullquote
    text-align: left
    width: 45%
    margin: 0
    &.left
      margin-left: 0.5em
      margin-right: 1em
    &.right
      margin-right: 0.5em
      margin-left: 1em
  .caption
    color: color-grey
    display: block
    font-size: 0.9em
    margin-top: 0.5em
    position: relative
    text-align: center
  // http://webdesignerwall.com/tutorials/css-elastic-videos
  .video-container
    position: relative
    padding-top: (9 / 16 * 100)% // 16:9 ratio
    height: 0
    overflow: hidden
    iframe, object, embed
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      margin-top: 0

.article-more-link 
  flex-shrink: 0
  display: none 
  text-align: right
  @media mq-normal
   display: block 
  :after
    content: "\f101"
    font-family: font-icon
    font-size 16px
    padding-left: 4px
  a
    display: inline-block
    font-size: 14px 
    line-height: 1em
    border-radius: 12px
    color: #555
    text-decoration: none
    transition: 0.2s
    &:hover
      color: #42b983
      text-decoration: none

.article-footer
  @extend $block
  display flex
  justify-content: space-between
  align-items: center
  font-size: 0.85em
  line-height: line-height
  padding: 16px 16px
  margin: 12px 0
  @extend $base-shadow
  @media mq-normal
    padding: 16px 40px
  a
    transition: 0.25s
    text-decoration: none
  .article-tag-list
    margin-top: 0

.article-comment-link
  &:before
    content: "\f075"
    font-family: font-icon
    padding-right: 8px

.article-share-link
  flex-shrink: 0
  cursor: pointer
  margin-left: 20px
  color: color-default
  &:hover
    color: #42b983
  &:before
    content: "\f064"
    font-family: font-icon
    padding-right: 6px

#article-nav
  clearfix()
  display: flex
  margin: 48px 0 0 0
  padding: 0 16px

  @media mq-mobile
    display block
    margin: 24px 0
  
  @media mq-normal
    padding: 0 40px

.article-nav-link-wrap
  text-decoration: none
  text-shadow: 0 1px #fff
  color: color-grey
  box-sizing: border-box
  margin-top: block-margin
  text-align: center
  display: block
  width: 50%
  margin-top: 0
  &:hover
    color: color-default
    

#article-nav-newer
  width 100%
  text-align: right

  @media mq-mobile
    margin: 8px 0 

#article-nav-older
  width 100%
  text-align: left

  @media mq-mobile
    margin: 8px 0 

.article-nav-caption
  text-transform: uppercase
  letter-spacing: 2px
  color: #555
  line-height: 1em
  font-weight: bold
  #article-nav-newer &
    margin-right: -2px

.article-nav-title
  display block
  font-size: 16px
  font-weight normal
  text-decoration: none
  line-height: 24px
  margin-top: 0.5em
  color: #6b8793
  &:hover
    color: #42b983

.article-share-box
  position: absolute
  display: none
  background: #fff
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2)
  border-radius: 3px
  margin-left: -145px
  overflow: hidden
  z-index: 1
  &.on
    display: block

.article-share-input
  width: 100%
  background: none
  box-sizing: border-box
  font: 14px font-sans
  padding: 0 15px
  color: color-default
  outline: none
  border: 1px solid color-border
  border-radius: 3px 3px 0 0
  height: 36px
  line-height: 36px

.article-share-links
  clearfix()
  background: color-background

$article-share-link
  width: 50px
  height: 36px
  display: block
  float: left
  position: relative
  color: #999
  text-shadow: 0 1px #fff
  &:before
    font-size: 20px
    font-family: font-icon
    absolute-center(@font-size)
    text-align: center
  &:hover
    color: #fff

.article-share-twitter
  @extend $article-share-link
  &:before
    content: "\f099"
  &:hover
    background: color-twitter
    text-shadow: 0 1px darken(color-twitter, 20%)

.article-share-facebook
  @extend $article-share-link
  &:before
    content: "\f09a"
  &:hover
    background: color-facebook
    text-shadow: 0 1px darken(color-facebook, 20%)

.article-share-pinterest
  @extend $article-share-link
  &:before
    content: "\f0d2"
  &:hover
    background: color-pinterest
    text-shadow: 0 1px darken(color-pinterest, 20%)

.article-share-google
  @extend $article-share-link
  &:before
    content: "\f0d5"
  &:hover
    background: color-google
    text-shadow: 0 1px darken(color-google, 20%)

// .article-gallery
//   background: #000
//   position: relative

// .article-gallery-photos
//   position: relative
//   overflow: hidden

// .article-gallery-img
//   display: none
//   max-width: 100%
//   &:first-child
//     display: block
//   &.loaded
//     position: absolute
//     display: block
//   img
//     display: block
//     max-width: 100%
//     margin: 0 auto

// $article-gallery-ctrl
//   position: absolute
//   top: 0
//   height: 100%
//   width: 60px
//   color: #fff
//   text-shadow: 0 0 3px rgba(0, 0, 0, 0.3)
//   opacity: 0.3
//   transition: opacity 0.2s
//   cursor: pointer
//   &:hover
//     opacity: 0.8
//   &:before
//     font-size: 30px
//     font-family: font-icon
//     position: absolute
//     top: 50%
//     margin-top: @font-size * -0.5

// .article-gallery-prev
//   @extend $article-gallery-ctrl
//   left: 0
//   &:before
//     content: "\f053"
//     left: 15px

// .article-gallery-next
//   @extend $article-gallery-ctrl
//   right: 0
//   &:before
//     content: "\f054"
//     right: 15px*/