#comments
  background: #fff
  box-shadow: 1px 1px 8px #ddd
  border-radius: 3px
  padding: 16px
  margin: 0px -20px
  @media mq-tablet
    margin: block-margin 0
  @media mq-normal
    padding: article-padding
  a
    color: color-link