#comments
  @extend $base-shadow
  background: #fff
  border-radius: 3px
  padding: 16px
  margin: block-margin -20px
  @media mq-mobile
    margin: 0 -20px
  @media mq-normal
    margin: block-margin 0px
    padding: article-padding
  a
    color: color-link