#footer
  background: color-footer-background
  padding: 50px 0 20px
  color: color-grey
  margin-top: 50px
  position: relative;
  background: #3e4a57;
  &::before
    content: '';
    position: absolute;
    top: -20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 30px 20px 30px;
    border-color: transparent transparent #3e4a57 transparent;
    left: 50%;
    transform: translateX(-50%);
  a
    color: #42b983
    text-decoration: none
    &:hover
      text-decoration: underline

#footer-info
  text-align: center
  line-height: line-height
  font-size: 0.85em